    {% load static %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Hair salon templates for mens hair cut service provider.">
        <meta name="keywords" content="hair salon website templates free download, html5 template, free responsive website templates, website layout,html5 website templates, template for website design, beauty HTML5 templates, cosmetics website templates free download">
        <title>Soft Event Management | Booking</title>
        <!-- Bootstrap -->
        <link href="{% static 'events/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i%7cMontserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{% static 'events/css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- Style -->
        <link href="{% static 'events/css/style.css' %}" rel="stylesheet"> 

        <!---w3 css -->
        <link href="{% static 'events/w3/w3.css' %}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js "></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js "></script>
    <![endif]-->
    </head>

    <body>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <a href="{% url 'events-home'%}"><img class="w3-animate-zoom" src="{% static 'events/images/logo.png' %}"  alt="Soft Event Booking"></a>
                    </div>
                    <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                        <div class="navigation">
                            <div id="navigation">
                                <ul>
                                    <li class="active"><a href="{% url 'events-home'%}" title="Home">Home</a></li>
                                    <li class="has-sub"><a href="service-list.html" title="Event Category">Event Category</a>
                                        <ul>
                                            <li><a href="service-list.html" title="Business">Business</a></li>
                                            <li><a href="service-detail.html" title="Health">Health</a></li>
                                        </ul>
                                    </li>
                                       {% if user.is_authenticated%}
                                        <li><a href="{% url 'profile'%}" title="About Us">My Profile</a> </li>
                                          <li><a href="{% url 'logout'%}" title="About Us">Log Out</a> </li>
                                            {% else %}
                                    <li> <a href="{% url 'login'%}" title="Sign in">Log in</a></li>
                                    <li> <a href="{% url 'register'%}" title="Sign in">Register</a></li>
                                               {%endif%}
                   
                                    <li><a href="{% url 'aboutus'%}" title="About Us">About Us</a> </li>
                                    <li><a href="{% url 'faq-home'%}" title="Styleguide">FAQ</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
            <div class="hero-section">
            <div class="container">
            <div class="row">
      {%if messages %}
            {%for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
      {% block content %}
      {% endblock content%}
       

        <div class="footer w3-black">
            <!-- footer-->
            <div class="container">
                <div class="footer-block">
                    <!-- footer block -->
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget">
                                <h2 class="widget-title">Office Address</h2>
                                <ul class="listnone contact">
                                    <li><i class="fa fa-map-marker"></i> Somewhere in Asokoro  Abuja </li>
                                    <li><i class="fa fa-phone"></i> +00 (800) 123-4567</li>
                                    <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                                    <li><i class="fa fa-envelope-o"></i> info@softevents.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget footer-social">
                                <!-- social block -->
                                <h2 class="widget-title">Social Feed</h2>
                                <ul class="listnone">
                                    <li>
                                        <a href="#"> <i class="fa fa-facebook"></i> Facebook </a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i> Linked In</a></li>
                                   
                                </ul>
                            </div>
                            <!-- /.social block -->
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="footer-widget widget-newsletter">
                                <!-- newsletter block -->
                                <h2 class="widget-title">What we do</h2>
                                <p>Contact us to publicize any type of event for you, and we allow interested people make reservation for your event</p>
                              
                                <!-- /input-group -->
                            </div>
                            <!-- newsletter block -->
                        </div>
                    </div>
                    <div class="tiny-footer">
                        <!-- tiny footer block -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="copyright-content">
                                    <p>© Usability Consulting Limited 2019 | all rights reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tiny footer block -->
                </div>
                <!-- /.footer block -->
            </div>
        </div>
        <!-- /.footer-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'events/js/jquery.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'events/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'events/js/menumaker.js' %}"></script>
        <!-- sticky header -->
        <script src="{% static 'events/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'events/js/sticky-header.js' %}"></script>
    </body>

    </html>
