
{% extends "events/base.html" %}
{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">Blog News Page</h2>
                        <div class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Blog News Page</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   


    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-block">
                        <div class="row ">
                            <!-- post block -->
                            <div class="col-md-6">
                                <div class="post-img">
                                    <a href="#"><img src="images/post-img.jpg" alt="" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-content">
                                    <h2><a href="#" class="title" target="_blank">bootstrap responsive design  templates free download</a></h2>
                                    <p class="meta"> <span class="meta-date"> 1 January 2020</span> <span class="meta-comment"><a href="# ">(12) Comments</a></span> <span class="meta-author">By <a href="#">Author</a></span></p>
                                    <p>Vestibulum eget tellus tincidunt erat posuere lobortisulla facilisi auris rutrum mollis dui, quis elementum turpis one viverra sedam mollis.</p>
                                    <a href="#" class="btn btn-default">Read More</a> </div>
                            </div>
                        </div>
                        <!-- /.post block -->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-block">
                        <div class="row ">
                            <!-- post block -->
                            <div class="col-md-6">
                                <div class="post-img">
                                    <a href="#"><img src="images/post-img-1.jpg" alt="" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-content">
                                    <h2><a href="#" class="title" target="_blank"> Free Responsive HTML5 CSS3 Website Templates</a></h2>
                                    <p class="meta"> <span class="meta-date"> 1 January 2020</span> <span class="meta-comment"><a href="# ">(12) Comments</a></span> <span class="meta-author">By <a href="#">Author</a></span></p>
                                    <p>Suspendisse lacus est scelerisque quis anteet pharetra one fermentum nibhmus placerat velit sit amet felis consequat, etbibe ndum purus ultrices.</p>
                                    <a href="#" class="btn btn-default">Read More</a> </div>
                            </div>
                        </div>
                        <!-- /.post block -->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-block">
                        <div class="row ">
                            <!-- post block -->
                            <div class="col-md-6">
                                <div class="post-img">
                                    <a href="#"><img src="images/post-img-2.jpg" alt="" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-content">
                                    <h2><a href="#" class="title" target="_blank"> website design templates free download</a></h2>
                                    <p class="meta"> <span class="meta-date"> 1 January 2020</span> <span class="meta-comment"><a href="# ">(12) Comments</a></span> <span class="meta-author">By <a href="#">Author</a></span></p>
                                    <p>Cras dolor arcu porttitor atfinibus idcondi mentum uttu rpis one fuscenec justo idle libero pharetra posuere aliq uam tempus is porttitor atfinibus.</p>
                                    <a href="#" class="btn btn-default">Read More</a> </div>
                            </div>
                        </div>
                        <!-- /.post block -->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-block">
                        <div class="row ">
                            <!-- post block -->
                            <div class="col-md-6">
                                <div class="post-img">
                                    <a href="#"><img src="images/post-img.jpg" alt="" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="post-content">
                                    <h2><a href="#" class="title" target="_blank"> Free High Quality Website Templates</a></h2>
                                    <p class="meta"> <span class="meta-date"> 1 January 2020</span> <span class="meta-comment"><a href="# ">(12) Comments</a></span> <span class="meta-author">By <a href="#">Author</a></span></p>
                                    <p>Cras dolor arcu porttitor atfinibus idcondi mentum uttu rpis one fuscenec justo idle libero pharetra posuere aliq uam tempus is porttitor atfinibus.</p>
                                    <a href="#" class="btn btn-default">Read More</a> </div>
                            </div>
                        </div>
                        <!-- /.post block -->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-block post-quote">
                        <div class="row ">
                            <!-- post block -->
                            <div class="col-md-12">
                                <div class="quote-content">
                                    <blockquote>“Get connected, get involved, as your world change”</blockquote>
                                </div>
                            </div>
                            <!-- /.post block -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="st-pagination">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}