
    {% extends "events/base.html" %}
    {% block content %}
    <div class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h1 class="hero-title">There are lot's of Event that change lifes.</h1>
                <p class="hero-text"><strong>Findout, Mingle, and make Reservation</strong> </p>
                <a href="#" class="btn btn-default">More Events</a> </div>
        </div>
    </div>
    </div>

   

  <div class="space-medium w3-white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="mb60 text-center section-title">
                        <!-- section title start-->
                        <h1>Don't miss these events</h1>
                        <h5 class="small-title ">Let's make the reservation for you now </h5>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-icon mb20">
                            <!-- service img -->
                            <img src="images/service-icon-1.png" alt=""> </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="# " class="title ">Developer Summit</a></h2>
                            <p>Areas within ICT are vital to our everyday lives, and sometimes we forget that we live in an Information age. By understanding and being able to use the tools that ICT provides, we are better able to solve problems and work more efficiently. </p>
                            <div class="price ">Free</div>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-icon mb20">
                            <!-- service img -->
                            <img src="images/service-icon-2.png" alt=""> </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title ">APC meeting</a></h2>
                           <p>Areas within ICT are vital to our everyday lives, and sometimes we forget that we live in an Information age. By understanding and being able to use the tools that ICT provides, we are better able to solve problems and work more efficiently. </p>
                            <div class="price">Free</div>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-icon mb20">
                            <!-- service img -->
                            <img src="images/service-icon-3.png" alt=""> </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title ">RCF all night</a></h2>
                            <p>Areas within ICT are vital to our everyday lives, and sometimes we forget that we live in an Information age. By understanding and being able to use the tools that ICT provides, we are better able to solve problems and work more efficiently. </p>
                            <div class="price ">Free</div>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center"> <a href="#" class="btn btn-default"> View All Service </a> </div>
            </div>
        </div>
    </div>
   

   <div class="space-medium bg-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img src="images/about-img.jpg" alt="" class="img-responsive"></div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="well-block">
                        <h1>Changing the World with technology</h1>
                        <h5 class="small-title ">best experience ever in an Information age</h5>
                        <p>Areas within ICT are vital to our everyday lives<a href="https://easetemplate.com/">Technology is Life!</a></p>
                        <p>Technology (ICT) is a constantly developing subject matter within our society and the Nation at large. Areas within ICT are vital to our everyday lives, and sometimes we forget that we live in an Information age.Technology has become a part of our culture; therefore it is very important that we are educated on how to use it; not only for the classroom but also for the workplace. </p>
                        <p>The younger generation should not be left out of this because they are the very ones that will take advantage of the enormous opportunities that are embedded in ICT.</p>
                        <a href="# " class="btn btn-default">View More About us</a> </div>
                </div>
            </div>
        </div>
    </div>



 {% endblock content %}